* {
	box-sizing: border-box;
	
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	height: 100;
	
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
}
html, body {
    height: 100%;
}

h2,
h3,
a {
	color: #34495e;

}

a {
	text-decoration: none;
}

.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-align: left-side;
	display: block;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}



.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid white;
	background-color: black;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 100%;
}
@media (min-width: 769px) {
	.header,
	.main-nav {
		 display: flex;
		 height: 100%;
		 flex-direction: column;
	}
	.header {
		flex-direction: column;
		align-items: left-side;
    	.header{
			height: 100%;
		width: 10%;
		margin: 0 auto;
		max-width: 10px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: column;
		height: 100%;
		width: 8%;
		justify-content: space-between;
	}

}
